>GUI is basically human-computer interface that uses windows,icons and menus and which can be manipulated by a mouse.
(and often a limited extend by a keyboard).
>GUIs stand in sharp contrast to command line interfaces(CLIs) which use only text and are accessed solely by a keyboard.
>EXAMPLE for CLIs: MS DOS
>most of the modern applications in electronic devices interect us with the help of GUIs.
>GUIs=graphical interactions + textual interactions.(that uses buttons,uses and message boxs etc.)
>interactions is mainly done by using a pointer devices like MOUSE.
>collections of element with which the user interact is called as object
>objects are used by the user and tasks performed on those objects are called as actions...actions may result in modification of objects by selecting and manuplating it(like we are changing our file name) 

//you will need to know about GUI in the case you gonna use this ART GALLERY PROBLEM
//now we are gonna know about
